body, ul, li, p{
    padding: 0px;
    margin: 0 auto;
    font-family: arial;
    font-size: 1.2rem;

} 
body{
    background-image: url("../images/madeiraFundo.jpg");
}
#app{
    height: 700px;
    width: 50%;
    display: flex;
    float: left;
    flex-direction: column;
    margin: 20px 25%;
    background-color: white;
    border-radius: 20px;
    

}

#header{
    width: 100%;
    height: auto;
    padding-bottom: 10px;
    
  
    
}


h1{
    width: 100%;
    text-align: center;
    color: red;
    text-shadow: #000f00 2px 3px 2px;;
       
}


#tarefa{
    margin-top: 30px;
    margin-left: 150px;
    border-radius: 5px;
    height: 25px;
    width: 40%;
    border: 2px solid black;
}

#btn-adicionar{
    color: white;
    background-color: red;
    height: 40px;
    width: 12%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 6px;
    box-shadow: 0 0 0.3em black;
}

#tarefas-box{
    margin-left: 110px;
    margin-top: 30px;
    font-style:oblique;
    
}

